.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
#root{
  height:100%;
}
.blockPage{
  width:100%;
  height:100%;
  background-image: url("./onlymobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #00adb5;
  background-position: center;
}